
/*
    @description: Bucle de creación de la grid

    @param col: número de columnas
    @param gutter: margen lateral de cada columna
    @param width: ancho de cada columna
*/


 @each $breakpoint, $break in $breakpoints {

	@media only screen and (min-width: $break) {
		@for $i from 1 through map-get($map: $grid, $key: "col") {
			$valor: unquote((100 / 12 * $i) + '%');
			.col-#{$breakpoint}-#{$i} {
				box-sizing: border-box;
				flex: 0 0 $valor;
				min-width: $valor;
				max-width: $valor;
			}
		}
	}
}
 