$marginType: (
	mt: margin-top,
	mb: margin-bottom,
	ml: margin-left,
	mr: margin-right,
	pt: padding-top,
	pb: padding-bottom,
	pl: padding-left,
	pr: padding-right
);

$spacer-base:5;

@each $margin, $margin-property in $marginType {
	@each $breakpoint, $break in $breakpoints {
		@for $i from 1 through 20 {
			$valor: unquote($spacer-base*$i + 'px');
			.#{$margin}-#{$breakpoint}-#{$i} {
				@media (min-width: $break) {
					#{$margin-property}: $valor !important;
				}
			}
		}
	}
}