/// Mapa donde definimos todas las animaciones genericas
/// @type map
/// @example 
///  @keyframes animation-1 {
///    0% {
///      opacity: 0;
///      transform: translateY(-100px);
///    }
///    50% {
///      opacity: 0.5;
///      transform: translateY(-50px);
///    }
///    100% {
///      opacity: 1;
///      transform: translateY(0px);
///    }
///  }
///  @keyframes animation-2 {
///    0% {
///      transform: scale(0);
///    }
///    100% {
///      transform: scale(1);
///    }
///  }
/// @group animations

$animations:(
  animation-1:(
    0:(
      opacity:0,
      transform:translateY(-100px)
    ),
    50:(
       opacity:0.5,
       transform:translateY(-50px)
    ),
    100:(
      opacity:1,
      transform:translateY(0px)
    )
  ),
  animation-2:(
    0:(
      transform:scale(0)
    ),
    100:(
      transform:scale(1)
    )
  )
);
