@import "settings/settings.scss";

@import "tools/tools.scss";

@import "generic/generic.scss";

@import "elements/elements.scss";

@import "objects/objects.scss";

@import "components/components.scss";

@import "utilities/utilities.scss";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: font-regular;
  background: $bg-content-color;
}


@mixin root-prop($prop: null, $value: null) {
  @if ($prop and $value) {
    #{$prop}: $value;
  }
}

:root {
  @include root-prop(--root-prop, #000000);
}
