@import '../settings/typography';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-face($name, $file, $weight:500) {
  @font-face {
    font-family: $name;
    font-display: auto;
    src: url($font-path + $file);
    font-style: normal;
    font-weight: $weight;
  }
}

@each $name, $file in $fonts{
  @include font-face($name,$file);
}
