@import 'reset.css';


/* HEADER */
.header {
  padding: 0 145px;
  background-color: #00121b;
}
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  color: #fff;
  margin: 15px 0;
  font-size: 24px;
}
.header__item, .header__link {
  outline: none;
  color: #fff;
  font-size: 14px;
  padding: 0 15px;
  transition: 0.3s;
  text-decoration: none;
  text-transform: uppercase;
}
.header__list {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.header__link:hover {
  color: #ff9800;
  text-decoration: none;
}

/* END HEADER */

/* SECTION */

.article {
  display: flex;
  padding: 50px 0;
  justify-content: space-around;
}

.card {
  width: 300px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  background-color: #fafafa;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

.card__img {
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
  background-color: #4426a8;
  background-position: center top;
}

.card:hover {
  transition: all 0.35s;
  transform: translate3d(0, -5px, 0);
}

.card__content {
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px;
}

.card__button {
  color: #fff;
  margin-top: 15px;
  padding: 7px 8px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  transition: 300ms all;
  text-decoration: none;
  background-color: #39454b;
}

/* END SECTION */

/* FOOTER */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  min-height: 200px;
  position: absolute;
  background: #00121b;
}

.footer__container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.footer__section {
  width: 25%;
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
}

.footer__title {
  margin-top: 5px;
  font-size: 24px;
}

.footer__title--secondary{
  font-size: 19px;
  margin-top: 5px;
}



.footer__p{
  font-size: 15px;
  margin-top: 15px;
}

.footer__separator {
  border: 0px;
  height: 3px;
  width: 40px;
  color: #ff9800;
  background: #ff9800;
  background-color: #ff9800;
}

.footer__list {
  color: #fff;
  font-size: 15px;
  margin-top: 16px;
  list-style: none;
  letter-spacing: 0.5px;
}

.footer__link {
  outline: none;
  color: #fff;
  display: block;
  margin-top: 15px;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #ff9800;
  text-decoration: none;
}

.footer__item {
  outline: none;
  color: #fff;
  display: block;
  display: block;
  margin-top: 15px;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}
/* END FOOTER */

/* RESET */

@font-face {
  font-family: 'barlow-regular';
  font-display: auto;
  src: url('/assets/fonts/Barlow-Regular.ttf');
  font-style: normal;
  font-weight: 500;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "barlow-regular", sans-serif;
  background: linear-gradient(to right, #c471ed, #12c2e9);
}

