@import '../settings/typography';
.e-link{
    outline: none;
    color: #fff;
    font-family: font-regular;
    font-size: $font-size-link;
    padding: 0 15px;
    transition: 0.3s;
    text-decoration: none;
    text-transform: uppercase;

    &:hover{
        color: #ff9800;
        text-decoration: none;
    }
}