
/*
    @description: Bucle de creación de la grid

    @param col: número de columnas
    @param gutter: margen lateral de cada columna
    @param width: ancho de cada columna
*/
$columns: map-get($map: $grid, $key: "col");
 @each $breakpoint, $break in $breakpoints {

	@media only screen and (min-width: $break) {
		@for $i from 1 through  $columns{
			$valor: unquote((100 / $columns * $i) + '%');
			.col-#{$breakpoint}-#{$i} {
				box-sizing: border-box;
				padding: 0 map-get($map: $grid, $key: "gutter");
				flex: 0 0 $valor;
				min-width: $valor;
				max-width: $valor;
			}
		}
	}
}
 